<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Kanban</title>
    <link rel="stylesheet" href="css/main.css">
    <script defer src="js/vue.js"></script>
    <script defer src="js/main.js"></script>
</head>

<body>
<div id="app">
    <div class="column">
        <h2>Запланированные задачи</h2>
        <form class="form" @submit.prevent="addCard">
            <label for="card-title">Заголовок:</label>
            <input id="card-title" type="text" v-model="newCardTitle" required>
            <label for="card-description">Описание:</label>
            <input id="card-description" type="text" v-model="newCardDescription" required>
            <label for="card-deadline">Дэдлайн:</label>
            <input id="card-deadline" type="date" v-model="newCardDeadline" required>
            <button class="form-botton" type="submit">Добавить карточку</button>
        </form>
        <div v-for="card in column1" :key="card.id" class="card">
            <h3>{{ card.title }}</h3>
            <p>Описание: {{ card.description }}</p>
            <p>Дэдлайн: {{ card.deadline }}</p>
            <p>Дата создания: {{ card.createdDate }}</p>
            <p v-if="card.lastEdited">Последнее редактирование: {{ card.lastEdited }} </p>
            <form @submit.prevent="editCard(card, newTitle, newDescription, newDeadline)">
                <input type="text" v-model="newTitle" placeholder="Новый заголовок" required>
                <input type="text" v-model="newDescription" placeholder="Новое описание" required>
                <input type="date" v-model="newDeadline" placeholder="Новый дедлайн" required>
                <button type="submit">Редактировать карточку</button>
            </form>
            <button @click="deleteCard(card)">Удалить карточку</button>
            <button @click="moveToSecondCol(card)">Переместить в работу</button>
        </div>
    </div>
    <div class="column">
        <h2>Задачи в работе</h2>
        <div v-for="card in column2" :key="card.id" class="card">
            <h3>{{ card.title }}</h3>
            <p>Описание: {{ card.description }}</p>
            <p>Дэдлайн: {{ card.deadline }}</p>
            <p v-if="card.lastEdited">Последнее редактирование: {{ card.lastEdited }}</p>
            <div v-if="card.reasonForReturn">
                <p>Причина возврата: {{ card.reasonForReturn }}</p>
            </div>
            <form @submit.prevent="editCard(card, newTitle, newDescription, newDeadline)">
                <input type="text" v-model="newTitle" placeholder="Новый заголовок" required>
                <input type="text" v-model="newDescription" placeholder="Новое описание" required>
                <input type="date" v-model="newDeadline" placeholder="Новый дедлайн" required>
                <button type="submit">Редактировать карточку</button>
            </form>
            <button @click="moveCardToThird(card)">Переместить в тестирование</button>
        </div>
    </div>
    <div class="column">
        <h2>Тестирование</h2>
        <div v-for="card in column3" :key="card.id" class="card">
            <h3>{{ card.title }}</h3>
            <p>Описание: {{ card.description }}</p>
            <p>Дэдлайн: {{ card.deadline }}</p>
            <p v-if="card.lastEdited">Последнее редактирование: {{ card.lastEdited }}</p>
            <form @submit.prevent="editCard(card, newTitle, newDescription, newDeadline)">
                <input type="text" v-model="newTitle" placeholder="Новый заголовок" required>
                <input type="text" v-model="newDescription" placeholder="Новое описание" required>
                <input type="date" v-model="newDeadline" placeholder="Новый дедлайн" required>
                <button type="submit">Редактировать карточку</button>
            </form>
            <input type="text" v-model="reasonForReturn" placeholder="Причина возврата">
            <button @click="moveCardToFourthOrReturn(card, reasonForReturn)">Вернуть</button>
            <button @click="moveCardToFourthOrReturn(card)">Переместить в выполненные</button>
        </div>
    </div>

    <div class="column">
        <h2>Выполненные задачи</h2>
        <div v-for="card in column4" :key="card.id" class="card">
            <h3>{{ card.title }}</h3>
            <p>Описание: {{ card.description }}</p>
            <p>Дэдлайн: {{ card.deadline }}</p>
            <p v-if="card.isOverdue">Просрочено</p>
            <p v-else>Выполнено в срок</p>
        </div>
    </div>
</div>
</body>
</html>